<%- include ('partials/header') %>

<form action="/" method="POST">
  <div class="form-group">
    <input type="text" name="username" class="form-control" placeholder="Username" required>
  </div>
  <div class="form-group">
    <textarea name="password" class="form-control" placeholder="Password"></textarea>
  </div>
  <div class="form-group">
    <input type="text" name="fullname" class="form-control" placeholder="Full Name">
  </div>
  <div class="form-group">
    <input type="text" name="phone" class="form-control" placeholder="Phone">
  </div>
  <div class="form-group">
    <input type="text" name="address" class="form-control" placeholder="Address">
  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit" >Signup</button>
  </div>
</form>

  <%- include ('partials/footer') %>