<%- include ('partials/header') %>


<p>Thank you for your purchase!</p>
<a class="btn btn-info" style=" margin-left:1250px;" href="/logout">Logout</a>
<div></div>
<a class="btn btn-info" style=" margin-left:1200px;" href="/">Back to shopping</a>



<%- include ('partials/footer') %>
